DOCUMENSO_API_KEY=your-api-key
DOCUMENSO_HOST=https://app.documenso.com
NEXT_PUBLIC_DOCUMENSO_HOST=https://app.documenso.com
DOCUMENSO_TEMPLATE_LEASE=template-id-for-lease
DOCUMENSO_TEMPLATE_PET_ADDENDUM=template-id-for-pet-addendum
