DOCUMENSO_API_KEY=your-api-key
DOCUMENSO_HOST=https://stg-app.documenso.com
NEXT_PUBLIC_DOCUMENSO_HOST=https://stg-app.documenso.com
DOCUMENSO_TEMPLATE_OFFER_LETTER=template-id-for-offer
DOCUMENSO_TEMPLATE_NDA=template-id-for-nda
DOCUMENSO_TEMPLATE_HANDBOOK=template-id-for-handbook
DATABASE_URL=postgresql://...
